<div class="drawbox">
  <h1>お絵かき画面</h1>
  <p><canvas id="draw_canvas" width="640px" height="480px"></canvas></p>
  <p><type="text" name="title" placeholder="絵のタイトル"></p>
  <button class="save">保存する</button>
  <input id="line" type="range" min="5" max="50">
  <input id="color" type="color">
</div>
<script src="/js/draw.js"></script>
