<div class="drawbox">
  <h1>お絵かき画面</h1>
  <p><canvas id="draw_canvas" width="640px" height="480px"></canvas></p>
  <p><input type="text" name="title" placeholder="絵のタイトル"></input></p>
  <button class="save">保存する</button>
</div>
<script src="/js/draw.js"></script>
