<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Sketch nano</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>🎨Sketch Nano🎨</h1>
    <p>
        Sketch Nanoは、最高のお絵かきアプリなの。
    </p>
    <p>
        <a href="/dashboard">入り口</a>
    </p>
</body>
</html>
