<h1 class="header">Sketch nano</h1>
<p class="defo">
  【sketch nano】とはお絵描き掲示板を使ったコミュニケーションサイトです。
</p>

<p>
  <h2>About: sketch nano</h2>
<b class="defo">sketch nanoでは、以下のことができます！</b>
</p>

<ol  class="defaultlist list8">
  <li  class="list8-count">絵が描ける</li>
  <li  class="list8-count">投稿できる</li>
  <li  class="list8-count">みんなの投稿をみれる</li>
  <li  class="list8-count">"すき"をつけれる</li>
</ol>

<p>
  <a class="enter" href="/dashboard">入り口</a>
</p>
