body {
    background: #white;
    color: #5C4747;/* 文字の色 */
    background-color: #F0F2F3;
    margin: 0 auto;
    position: relative;
}
.draw{
  position:absolute;
  left:380px;
  top:41px;
}
.draw  a[href]{
  text-decoration: none;
  color: #989898;
}

// 見出しだよ
h2{
  font-size: 10px;/* 文字の大きさ */
  font-weight: bold;/* 文字の太さ */
  color: #5C4747;/* 文字の色 */
  border-left: 7px solid #E07C7D;/* 文字左の点線の太さ・種類・カラー */
  border-bottom: 2px dashed #E07C7D;/* 文字下の点線の太さ・種類・カラー */
  margin: 0 0 1.5em;
  padding: 0.2em 0.8em;
}

<!--見出しだよ-->
.enter{
  font-size: 1.2em;/* 文字の大きさ */
   font-weight: bold;/* 文字の太さ */
   color: #fff;/* 文字の色 */
   background: #F9B8CD;/* 背景色 */
}
a:link { color: #5C4747; }
a:visited { color: #5C4747; }
a:hover { color: black; }
a:active { color: #E7FF00 }

.header{
    font-size: 1.2em;/* 文字の大きさ */
    font-weight: bold;/* 文字の太さ */
    color: white;/* 文字の色 */
    background: #F9B8CD;/* 背景色 */
    box-shadow: 0 3px 3px 0 rgb(181, 195, 178);/* リボン下の影 */
    position:relative;
    margin: 0 -10em -10em -0.5em;
    padding: 0.5em 0.8em;
    margin-bottom: 40px;
    width: 100%;
}
canvas {
    background: #fff;
}

<!--リストの説明>
.defaultlist
,.defaultlist li{
	padding:0px;
	margin:0px;
}

.defaultlist li{
	list-style-type:none !important;
	list-style-image:none !important;
	margin: 5px 0px 5px 0px !important;
}

.list8{
	counter-reset:li;
	margin-left:20px !important;
}

.list8 li{
	position:relative;
	display: block;
	padding:8px 0px 8px 40px;
}

li.list8-count:after{
	counter-increment: li;
	content: counter(li);
	position: absolute;
	left: -16px;
	top: 2px;
	background: white;
	height: 30px;
	width: 30px;
	line-height: 32px;
	border: 2px solid #F9B8CD;
	text-align: center;
	font-weight: bold;
	border-radius: 30px;
}

li.list8-count:before{
	content:'';
	display:block;
	position:absolute;
	box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
	top:11px;
	left:15px;
	height:0;
	width:0;
	border-top: 8px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 13px solid #F9B8CD;
}

.jpg{
  z-index: 100000;
  position: absolute;
  position: absolute;
  top: 0;
  left: 25;
  right: 25;
  bottom: 0;
  margin: auto;
  width: 10px;
}



.post img{
  width: 200px;

}

#modal-content{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}

.button-link:hover{
	cursor:pointer;
	color:#f00;
}

.columns {
    -webkit-column-count: 5;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 5s;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 5;
    column-gap: 10px;
    column-fill: auto;
    margin: 10px;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    overflow: hidden;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

}

.pin img {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

.action{
  xfloat: right;
}
